/* Navbar Styles */
body, html {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #BCF6FF;
	padding: 10px 20px;
	flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

/* Logo styling */
.logo img {
	height: 5em; /* Adjust the logo size as needed */
	width: auto;
}

/* Menu styling */
.menu {
	position: relative;
	display: inline-block;
	flex-grow: 1; /* This allows the menu to expand as needed */
}

.menu-btn {
	color: black;
	padding: 10px 15px;
	text-decoration: none;
	font-size: 17px;
	cursor: pointer;
}

.menu-btn:hover, .dropdown-content a:hover {
	background-color: #BCF6FF;
	color: black;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #BCF6FF;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	margin-top: 5px;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-submenu {
	position: relative;
}

.submenu-content {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	background-color: #BCF6FF;
	min-width: 160px;
}

.dropdown-submenu:hover .submenu-content {
	display: block;
}

.menu:hover .dropdown-content {
	display: block;
}

/* Login button styling */
.login-btn {
	cursor: pointer;
	color: black;
	text-decoration: underline; border : none;
	padding: 10px 15px;
	font-size: 17px;
	border: none;
}

/* Media Query for Small Screens */
@media ( max-width : 768px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}
	.menu, .login-btn {
		width: 100%;
		text-align: left;
		padding: 10px 0;
	}
	.dropdown-content, .submenu-content {
		position: static;
		display: block;
		background-color: #BCF6FF;
	}
	.menu-btn {
		font-size: 16px;
	}
}