@charset "UTF-8";

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    height: 100%;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
}

.sidebar a:hover {
    background-color: #575757;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.content-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}
